.vscode/
converters/
merged_pdfs/
uploads/
services/user-service/.env
services/user-service/__pycache__
services/file-service/.env
services/file-service/__pycache__
frontend/templates/profile.html
frontend/static/js/profile.js