<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/pdf-split.css">
    <title>FormatX | Split PDF</title>
    <link rel="icon" href="/static/assets/logo.png">
</head>

<body>
    <header>
        <div class="logo">FormatX</div>
        <nav>
            <a href="./">Home</a>
            <a href="/pdf-merge">Merge PDF</a>
            <a href="/pdf-organize">Re-Organize PDF</a>
            <a href="/pdf-split" class="active">Split PDF</a>
            <a href="/pdf-to-docx">Convert PDF</a>
            <!-- <a href="/image">Convert Images</a> -->
        </nav>
    </header>
    <main>
        <section class="intro">
            <h1>Split One PDF into Many</h1>
            <p>
                With our PDF Merge tool, combining multiple PDF files into a single document has never been easier.
                Simply follow these steps:
            </p>
            <ul>
                <li><strong>Upload Your Files:</strong> Click the "Upload Files" button to select multiple PDF files
                    from your device. You can select a maximum of 20 files from your device.</li>
                <li><strong>Arrange the Files:</strong> Once the files are uploaded, you can easily reorder them by
                    dragging and dropping. Arrange them in the sequence you want the final document to appear.</li>
                <li><strong>Preview the Files:</strong> Each file has a little preview of the first page so that you
                    know you are confidently rearranging the correct file in the correct order.</li>
                <li><strong>Merge the PDFs:</strong> When you're happy with the order and the previews, simply click the
                    "Merge PDFs" button to combine all selected files into a single PDF.</li>
                <li><strong>Download the Final Document:</strong> Once the merge is complete, the final newly merged PDF
                    will be downloaded onto your device!</li>
            </ul>
            <p>
                This tool is perfect for combining contracts, reports, or any collection of PDF documents into one
                convenient file. Whether you’re managing work documents or personal files, our simple and intuitive
                interface will help you get the job done in just a few clicks!
            </p>
        </section>
    </main>
</body>

</html>