{% extends 'base.html' %}

{% block title %}Re-Organize PDF - FormatX{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pdf-organize.css') }}">
{% endblock %}

{% block content %}
<section class="intro">
    <h1>Re-Organize PDFs</h1>
    <p>
        Break apart your PDF into individual pages for reordering or deletion. Follow these steps:
    </p>
    <ul>
        <li><strong>Upload Your File:</strong> Click "Upload PDF" to upload a single PDF file.</li>
        <li><strong>Reorder or Delete:</strong> Drag pages to reorder or click "X" to delete a page.</li>
        <li><strong>Save Changes:</strong> Click "Save PDF" to download the reorganized file.</li>
    </ul>
</section>
{% endblock %}


{% block file_upload_section %}
<form id="organizeForm" action="/pdf-organize" method="POST" enctype="multipart/form-data">
    <div class="button-container">
        <label for="file-input" class="custom-file-upload">Upload PDF</label>
        <button type="button" class="reset-file" onclick="window.location.reload()">Reset</button>
    </div>
    <input type="file" id="file-input" name="file" accept="application/pdf">
    <p id="file-limit-message" style="color: red; display: none;">Maximum of 20 files allowed*</p>
    <center>
        <div id="page-list" class="file-list">
            <p id="default-text" class="default-text-class">No file uploaded yet. Use the upload button above.
            </p>
        </div>
    </center>
    <center><button type="submit" class="organize-button" disabled>Save PDF</button></center>
    <div id="loading-spinner" class="loading-spinner" style="display: none;">
        <div class="spinner"></div>
        <p>Organizing Your File...</p>
    </div>
    <div id="download-container" class="download-container" style="display: none;">
        <p>Your file is ready!</p>
        <a id="download-link" class="download-link" href="#" download>Download File</a>
    </div>
</form>
{% endblock %}

{% block post_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script type="module" src="../static/js/pdf-organize.js"></script>
{% endblock %}